@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --blue: #0095f6;
  --white: #262626;
  --black: #eeeeee;
  --gray: #6d6d6d;
  --light-gray: #181818;
  --medium-gray: #7c7c7c;
  --searchBG: #f2f3f5;
  --searchPH: #bcbcbc;
  --bodyBG: #303030;
  --storyIB: #c41e1e;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bodyBG);
  color: var(--black);
  position: relative;
}

header {
  border-bottom: 1px solid var(--gray);
}

#nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
}

#nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  border-top: 1px solid var(--gray);
}

#header-container-top-sm {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

#header-container-bottom-sm {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 24px;
}

#header-container-lg {
  display: none;
}

#search {
  display: none;
}

#pp-sm {
  width: 24px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

#pp-lg {
  width: 24px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

#profile-menu-sm {
  width: 230px;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 55px;
  right: 15px;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 6px var(--gray);
}

#profile-menu-sm i {
  padding-right: 0.3rem;
}

#logout {
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--gray);
}

#theme {
  cursor: pointer;
}

.nav-icon,
#logout {
  cursor: pointer;
}

.hide {
  display: none;
}

#nav {
  max-width: 278px;
  padding: 0 0 0 24px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nav div {
  padding: 0 0 0 24px;
}

/* MAIN CONTENT SECTION */

main {
  margin: 60px 0 84px 0;
}

#content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* POSTS SECTION */

#posts {
  width: 100%;
  max-width: 470px;
}

.post {
  margin: 18px 0 0 0;
  border-radius: 0.5rem;
  border: 1px solid var(--light-gray);
  background: var(--white);
  overflow: hidden;
}

.post-header {
  height: 56px;
  padding: 0 16px 0 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header-profile {
  display: flex;
  align-items: center;
}

.post-icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.ellipsis {
  font-size: 24px;
}

.post-image img {
  width: 100%;
}

.post-info {
  padding: 6px 14px 0 12px;
}

.post-info-icons {
  padding: 0 0 0 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-n-comment {
  display: flex;
  align-items: center;
}

.likes-count {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.post-comment {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.hashtag {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.view-all-comments {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: var(--medium-gray);
}

.time-posted {
  margin: 10px 0 14px 0;
  font-size: 10px;
  color: var(--medium-gray);
}

.post-comments {
  padding: 6px 16px 4px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--light-gray);
}

.comment-container {
  display: flex;
  align-items: center;
}

.smiles {
  font-size: 24px;
}

.comment-input {
  margin: 0 0 0 10px;
  background: transparent;
  border: none;
  color: var(--black);
}

.comment-input:focus {
  outline: none;
}

.comment-input::placeholder {
  color: var(--medium-gray);
}

.post-link {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}

/* TOP STORIES */

#story-icons {
  width: 470px;
  resize: none;
  height: 120px;
  margin: 22px 0 0 0;
  padding: 7px 0 0 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  background: var(--white);
}

#story-icons div {
  width: 66px;
  margin: 0 16px 0 0;
  text-align: center;
  font-size: 0.75rem;
}

.story-icon {
  width: 62px;
  height: 62px;
  border: 3px solid var(--storyIB);
  border-radius: 100%;
  margin-bottom: 5px;
}

/* SUGGESTIONS */

#suggestions {
  width: 100%;
  display: none;
}

/* PROFILE PAGE */

/* PROFILE INFO */

#profile-info-sm {
  display: block;
}

#profile-image-sm {
  padding: 13px 16px 24px 16px;
  display: flex;
  align-items: center;
}

#profile-image-sm img {
  width: 77px;
  border-radius: 100%;
}

#profile-settings-sm {
  padding: 0 0 0 30px;
  font-size: 28px;
}

#profile-settings-sm button {
  width: 250px;
  height: 30px;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--light-gray);
}

#profile-about-sm {
  padding: 0 16px 21px 16px;
  font-size: 14px;
}

#profile-about-sm a {
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

#profile-stats-sm {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid var(--gray);
}

#profile-stats-sm span {
  width: 75px;
}

#profile-info-lg {
  display: none;
}

/* POSTS SAVED TAGGED */

#p-s-t-lg {
  display: none;
}

#p-s-t-sm {
  margin: 14px 0 0 0;
  padding: 8px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  text-align: center;
  border-top: 1px solid var(--light-gray);
}

/* GALLERY */

#gallery {
  margin: 10px 0 0 0;
}

#gallery-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#gallery-row div {
  width: 33%;
}

#gallery-row div img {
  width: 100%;
}

/* MEDIA QUERIES */

@media (min-width: 691px) {
  #header-container-top-sm {
    display: none;
  }

  #header-container-bottom-sm {
    display: none;
  }

  #header-container-lg {
    max-width: 975px;
    height: 60px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  #search {
    width: 268px;
    display: block;
    background: var(--searchBG);
    border-radius: 10px;
  }

  #search-input {
    max-width: 268px;
    height: 36px;
    padding: 10px 10px 10px 40px;
    border: 0 solid transparent;
    border-radius: 10px;
    background: url(/images/mag.png) no-repeat scroll 8px 8px var(--searchBG);
  }

  #search-input:focus {
    max-width: 268px;
    outline: none;
    padding: 10px;
    background: var(--searchBG);
  }

  #search-input::placeholder {
    color: var(--searchPH);
  }

  #profile-menu-lg {
    width: 230px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 55px;
    right: 15px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 6px var(--gray);
  }

  #profile-menu-lg i {
    padding-right: 8px;
  }

  main {
    margin: 0 0 24px 0;
  }

  #posts {
    width: 470px;
    margin: auto;
  }
}

@media (min-width: 736px) {
  #profile-info-sm {
    display: none;
  }

  #profile-info-lg {
    max-width: 895px;
    margin: auto;
    padding: 36px 0 40px 51px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
  }

  #profile-img-lg img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  #profile-about-lg {
    padding: 0 0 0 60px;
  }

  #profile-settings-lg {
    margin: 0 0 22px 0;
    font-size: 28px;
  }

  #profile-settings-lg button {
    width: 90px;
    height: 30px;
    margin: 0 20px 0 10px;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--light-gray);
  }

  #profile-stats-lg {
    margin: 0 0 26px 0;
  }

  #profile-stats-lg span {
    margin: 0 30px 0 0;
  }

  #profile-andy-lg div {
    margin: 0 0 8px 0;
  }

  #profile-andy-lg a {
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
  }

  #p-s-t-sm {
    display: none;
  }

  #p-s-t-lg {
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  #p-s-t-lg div {
    width: 125px;
    margin: 20px 0 0 0;
    text-align: center;
  }

  #p-s-t-lg i {
    margin: 0 8px 0 0;
  }

  /* GALLERY */

  #gallery {
    margin: 14px 0 0 0;
  }

  #gallery-row {
    margin: 0 auto 20px auto;
    max-width: 935px;
    justify-content: space-around;
  }

  #gallery-row div {
    width: 31%;
    max-width: 273px;
  }
}

@media (min-width: 1000px) {
  #header-container-lg {
    max-width: 975px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  #content-container {
    display: flex;
    justify-content: center;
  }

  #posts {
    width: 470px;
    margin: 0 32px 0 0;
  }

  /* SUGGESTIONS */

  #suggestions {
    margin: 48px 0 0 0;
    display: block;
    max-width: 320px;
  }

  #suggestions-profile {
    display: flex;
    align-items: center;
  }

  #suggestions-profile p {
    font-size: 14px;
  }

  #suggestions-profile p span {
    color: var(--medium-gray);
    font-size: 14px;
  }

  .suggestions-pp {
    width: 56px;
    height: 56px;
    margin: 0 19px 5px 0;
    border-radius: 100%;
  }

  #who-to-follow {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #who-to-follow p {
    margin: 10px 0 0 0;
  }

  #s-f-y {
    color: var(--medium-gray);
  }

  #see-all {
    font-size: 12px;
  }

  .w-t-f-box {
    height: 48px;
    padding: 0 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .w-t-f-user {
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .w-t-f-user span {
    color: var(--medium-gray);
    font-size: 12px;
  }

  .follow-icon {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 0.75rem;
  }

  .follow-link {
    color: var(--blue);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }

  .verified {
    width: 12px;
    height: 12px;
    margin-left: 5px;
  }

  /* FOOTER */

  .footer {
    font-size: 12px;
    color: var(--gray);
    margin-top: 24px;
  }

  #footer-links {
    margin-bottom: 15px;
  }

  #footer-links a,
  #footer-links a:visited {
    margin: 0 6px 0 0;
    color: var(--gray);
    text-decoration: none;
  }

  #footer-copy a,
  #footer-copy a:visited {
    color: var(--gray);
    text-decoration: none;
  }

  #footer-copy a:hover,
  #footer-links a:hover {
    text-decoration: underline;
  }
}
